/*color*/
$color-blue: blue;
$color-green: Green;
$color-black: black;
$color-red: red;
$color-secondary: grey;

/*fontsize*/
$font-s: 1em;
$font-sl: 1.2em;
$font-xs: 1.5em;
$font-m: 2em;
$font-xm: 2.5em;
$font-l: 3em;
$font-xl: 3.5em;
$font-xxl: 4em;

/*size screen*/
$sm-screen-min: 576px;
$md-screen-min: 768px;
$lg-screen-min: 992px;
$xlg-screen-min: 1200px;

/*width*/
$w100: 100%;
$w75: 75%;
$w50: 50%;
$w25: 25%;
$w30: 30%;