@import "./font";
@import "./variables";
@import "./animation";

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header*/
.header{
    &-top-bar{        
        padding-top: 2em;        
        & .search{
            flex-grow: 5;
            display: flex;            
            align-items: center;
            position: relative;
            &-text{
                width: 500px;                              
            }
            &-icon{
                position: absolute;
                z-index: 1;
                top: 35%;
                right: 15%;
                &:hover{
                    @include scale_1_2;
                    color: $color-blue;
                }                               
            }     
        }
        & .info{            
            display: flex;
            justify-content: space-between ;
            align-items: center;
            &-heart{
                color: $color-red;
                margin-right: 50px;
                &:hover{
                    @include scale_2;
                }
            }       
            &-user{
                color: $color-green;
                margin-right: 50px;
                &:hover{
                    @include scale_2;
                }
            }   
            &-lang{
                &:hover{
                    @include scale_2;
                }
            }
        }
    }
    .logo{       
        span{
            @extend %logo-font;
            font-size: $font-m;  
                       
        }
        &-title-blue{
            color: $color-blue;
        }
        &-title-green{
            color: $color-green;
        } 
        :hover:first-child{
            color: $color-green;
        }     
        :hover:last-child{
            color: $color-blue;
        }       
    }
    &-menu{
        &-wrap{
            padding: 0; 
            margin-top: 20px;            
            display: flex;  
            justify-content: center; 
            flex-wrap: wrap;                
        }
        &-item{
            list-style: none;
            margin-right: 25px;              
            &:last-child{
                margin-right: 0;
            }
            &__active{
                color: $color-black !important;
            }            
        }
        &-link{
            text-transform: uppercase;
            @extend %logo-font;
            text-decoration: none;
            color: $color-secondary;
            /*font-size: $font-xs;*/
            @media (max-width: 576px) {
                font-size: 0.7em ;
             }
             @media (min-width: 768px) {
                font-size: $font-sl;
             }
             @media (min-width: 992px){
                font-size: $font-xs;
             }
             @media (min-width: 1200px){
                font-size: $font-xs;
             }

            position: relative;
            &::after{
                content: "";
                position: absolute;
                width: 0;
                height: 2px;
                background: red;
                left: 0;
                bottom:1px;
                transition: all 0.2s ease-in;
            }
            &:hover{
                color: $color-blue !important;
                &::after{
                    width: 100%;
                    opacity: 1;
                }
            }
        }
    }
}
/*Banner*/
.banner{
    &-img{
        position: relative;
        & img{
            border-radius: 50px;
            width: 100%;
            height: 100%;
        }
        &-content{
            position: absolute;
            top: 25%;
            left: 10%;
            width: 80%;
            height: 50%;
            &__primary{
                font-size: $font-l;
                font-weight: bold;   
                & .first{     
                    background: rgba($color-blue,0.5);
                    width: 300px;
                    transform: rotate(-2deg); 
                    text-align: center;
                    color: white;         
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                }  
                 & .last{
                    background: rgba($color-green,0.5);
                    width: 500px;
                    text-align: center;
                    transform: rotate(-2deg); 
                    color: white;         
                 }  
            }
            &__secondary{
                font-size: $font-sl;
                color: $color-black;
                font-weight: bold;
            }
            &__btn .button{
                background: green;
                border: 1px solid green;
                font-weight: bold;
                box-shadow: 0px 4px 10px rgba(blue, 1);
                &:hover{
                    @include scale_1_2;                    
                    background: blue;
                }
            } 
            @media only screen and (max-width: $sm-screen-min) {    
                position: absolute;  
                left: 10%; 
                top: 10%;          
                width: 80%;
                height: 50%;
                &__primary{
                    font-size: 1em;
                    & .first{
                        text-align: left;
                        width: 50% !important;
                     }
                    & .last{
                        text-align: left;
                        width:60% !important;
                    }                    
                }
                &__secondary{
                    font-size: 0.5em;
                    width: 100%;
                }
                &__btn .button{
                    font-size: 0.5em;
                    padding: 2px;                                                         
                }
            }      
            @media only screen and (max-width: $md-screen-min) {    
                position: absolute;
                left: 10%; 
                top: 10%;          
                width: 80%;
                height: 50%;
                &__primary{
                    font-size: 1em;
                    & .first{
                        text-align: left;
                        width: 100%;
                     }
                    & .last{
                        text-align: left;
                        width:100%;
                    }                    
                }
                &__secondary{
                    font-size: 0.5em;
                    width: 100%;
                }
                &__btn .button{
                    font-size: 0.5em;                    
                }
            }  
            @media only screen and (max-width: $lg-screen-min) {    
                position: absolute;
                left: 10%; 
                top: 10%;          
                width: 80%;
                height: 50%;               
            }          
        }
    }
    
}
/*popular now*/
.popular{
    margin-top: 15px;
    &-title{
        display: flex;
        justify-content: space-between;
        & .item{
            @extend %logo-font;
            font-weight: bold;
            color: $color-blue;
            position: relative;
            z-index: 1;
            display: inline-block;
        &::after{
            content: '';
            width: 60%;
            height: 50%;
            /*background: linear-gradient(#019578,#fff);*/
            background: orange;              
            position: absolute;
            bottom: 0;
            right: -15px;
            z-index: -1;
            transform: rotate(-5deg);
            border-top-left-radius: 35px;
            border-bottom-right-radius: 35px;
            }
        }
        & .view{
            color: $color-secondary;
            font-size: $font-xs;
            & .icon:hover{
                color: $color-blue !important;
                @include scale_1_2;
            }
        }
        @media only screen and (max-width: $sm-screen-min) {
            & .item{
                font-size: 1.5em;
            }
            & .view{
                font-size: 1em;
            }
        }        
    }
    &-product{
        &-card{           
            & img{
                box-shadow: 0 4px 7px 0 $color-red;
                position: relative;
                &:hover{                    
                    opacity: 0.6;                   
                    cursor: pointer;
                    box-shadow: 0 4px 7px 0 $color-blue !important;
                }
            }
            & .icon-new{
                position: absolute;
                top: 30px;
                right: 45px;
            }
        }
    }
}
/*Latest book*/
.latest{
    margin-top: 25px;
    &-title{
        display: flex;
        justify-content: space-between;
        & .item{
            @extend %logo-font;
            font-weight: bold;
            color: $color-blue;
            position: relative;
            z-index: 1;
            display: inline-block;
        &::after{
            content: '';
            width: 60%;
            height: 50%;
            /*background: linear-gradient(#019578,#fff);*/
            background: orange;              
            position: absolute;
            bottom: 0;
            right: -15px;
            z-index: -1;
            transform: rotate(-5deg);
            border-top-left-radius: 35px;
            border-bottom-right-radius: 35px;
            }
        }
        & .view{
            color: $color-secondary;
            font-size: $font-xs;
            & .icon:hover{
                color: $color-blue !important;
                @include scale_1_2;
            }
        }
        @media only screen and (max-width: $sm-screen-min) {
            & .item{
                font-size: 1.5em;
            }
            & .view{
                font-size: 1em;
            }
        }              
    }
    &-product{        
        &-card{  
                                 
            & img{
                box-shadow: 0 4px 7px 0 $color-blue;                                
                &:hover{                    
                    transition: all 1s ease-in;   
                    transform: rotate(360deg);                              
                    cursor: pointer;
                    /*box-shadow: 0 4px 7px 0 $color-red !important;*/
                    
                }

            }
            & .icon-new{
                position: absolute;
                top: 30px;
                right: 45px;
            }
        }
    }
}
/*Recomment*/
.recomment{
    &-bg{
        height: 400px;
        width: $w100;       
        border-radius: 25px;
        background-color: rgba(rgb(243, 46, 168), 0.3);
        position: relative;
    }
    &-title{
        position: absolute;
        left: 15%;
        top: 25%;
        width: 70%;
        
        & p{
            color: $color-blue;
            font-size: $font-l;
            font-weight: bold;
            text-align: center;
            @extend %logo-font;                      
        }
        &-search{
            margin-top: 30px !important;
            &__text{
                margin-right: 10px;
                height: 50px;
                width: 400px !important;
            }
            &__btn{
                width: 100px;
                height: 40px;
                padding: 2px 2px;
                color: white !important;
                background: $color-green;
                border: 1px solid green;
                border-radius: 10px;
                font-size: $font-sl;                
                &:hover{
                    font-weight: bold;
                }
            }            
        }
        @media only screen and (max-width: $sm-screen-min) {   
            font-size: 0.5em;   
            & p{
                width: 60%;
                text-align: left;                
            }  
            &-search{
                &__btn{
                    font-size: 1.5em;
                    margin-top: 5px;
                }
            }
        }
        @media only screen and (min-width: $md-screen-min) {   
            font-size: 1em;   
            & p{
                width: 100%;
                text-align: left;                
            }  
            &-search{
                &__btn{
                    font-size: 1.5em;
                    margin-top: 5px;
                }
            }
        }
        @media only screen and (min-width: $lg-screen-min) {   
            font-size: 1em;   
            & p{
                width: 100%;
                text-align: center;                
            }  
            &-search{
                &__btn{
                    font-size: 1.5em;                    
                }
            }
        }
        @media only screen and (min-width: $xlg-screen-min) {   
            font-size: 1em;   
            & p{
                width: 100%;
                text-align: center;                
            }  
            &-search{
                &__btn{
                    font-size: 1em;
                                       
                }
            }
        }
    }
    &-icon{
        position: absolute;
        right: 5px;
        top: 5px;
        opacity: 0.5;
        & img{
            border-radius: 50%;
        }
    }
}
/*author*/
.author{   
    margin-top: 75px;             
    &-eka{                            
        height: 300px;
        width: 100%;
        border: 1px solid green;
        border-radius: 20px;            
        position: relative;              
        &-title{
            text-align: center;
            margin-top: 30%;
        }
        & .img-keka{            
            position: absolute;
            border: 1px solid green;
            border-radius: 100%;
            left: 120px;
            top: -45px;
            &:hover{
                transition: all 0.5s ease-in;
                transform: scale(1.1);
            }
        }
        &-quote{
            position: absolute;
            color: green;
            font-size: 3em;
            top: -12%;
            right: 15%;
        }
    }
    
    
    &-hazar{
        height: 300px;
        width: 100%;
        border: 1px solid green;
        border-radius: 20px;
        position: relative;   
        &-title{
            text-align: center;
            margin-top: 30%;
        }
        & .img-hazar{
            position: absolute;
            border: 1px solid green;
            border-radius: 100%;
            left: 120px;
            top: -45px;
            &:hover{
                transition: all 0.5s ease-in;
                transform: scale(1.1);
            }
        }
        &-quote{
            position: absolute;
            color: green;
            font-size: 3em;
            top: -12%;
            right: 15%;
        }
    }
    &-khoe{
        height: 300px;
        width: 100%;
        border: 1px solid green;
        border-radius: 20px;
        position: relative;   
        &-title{
            text-align: center;
            margin-top: 30%;
        }
        & .img-khoe{
            position: absolute;
            border: 1px solid green;
            border-radius: 100%;
            left: 120px;
            top: -45px;
            &:hover{
                transition: all 0.5s ease-in;
                transform: scale(1.1);
            }
        }
        &-quote{
            position: absolute;
            color: green;
            font-size: 3em;
            top: -12%;
            right: 15%;
        }
        
    }
}
/*footer*/
.footer{
    width: 100%;    
    padding: 10px;
    background-color: rgba(rgb(243, 46, 168), 0.3);
    &-logo{
        margin-top: 10px;
        &__icon{
            font-size: 1.2em;
            & span{
                @extend %logo-font;
                font-size: $font-xs; 
            }
            & .logo-title-blue{
                color: $color-blue;
            }
            & .logo-title-green{
                color: $color-green;
            }
            & .coppyright{
                font-size: 0.8em;
                font-style: italic !important;
            }
        }
    }
    &-nav{
        margin-top: 10px;
        & p a:hover{
            color: blue !important;            
        }
    }
    &-contact{
        margin-top: 10px;
        margin-bottom: 10px;
        & .instagram{
            color: rgb(241, 150, 13);
            font-size: 2em;
            &:hover{
                color: rgb(0, 89, 255);
            }
        }
        & .facebook{
            color: rgb(241, 150, 13);
            font-size: 2em;
            &:hover{
                color: rgb(0, 89, 255);
            }
        }
    }
}
.similar{
    height: 300px;
    width: 200px;
}
